/**************************************************
* FRONT PAGE
**************************************************/

@use "sass:math";

.main__front-page {
	.main--header--image {
		img {
			opacity: .6;
		}
	}

	.main--content section:not(:first-child) {
		margin-top: rem(80px);
	}
}

// INFO
.front-page{

  &-info{
    padding: rem(140px) 0;
    background-color: white;
  }

  &-title {
    font-size: rem(26px);
    margin-bottom: 3.75rem;
    text-align: center;

    &,
    h2 {
      font-weight: bold;
      font-family: "Century Gothic Bold", Helvetica, Arial, sans-serif;
      color: #333;
    }
  }

  &-columns {
    text-align: center;

    &.columns-25{
      display: grid;
      grid-column-gap: rem(30px);
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &-card {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &-icon-background {
    margin-bottom: rem(24px);

    &.green {
      background-color: $color_green;

      & svg {
        fill: $color_green-haze;
      }
    }
    &.blue {
      background-color: $color_blue;

      & svg {
        fill: $color_jordy-blue;
      }
    }
    &.yellow {
      background-color: $color_yellow;

      & svg {
        fill: $color_tangerine;
      }
    }
    &.purple {
      background-color: $color_purple;

      & svg {
        fill: $color_light-orchid;
      }
    }

    &.green,
    &.blue,
    &.yellow,
    &.purple {
      display:          flex;
      align-items:      center;
      justify-content:  center;
      border-radius:    50%;
      height:           rem(150px);
      width:            rem(150px);
    }
  }
}

// HOW IT WORKS
.front-page--how-it-works{
  padding: rem(140px) 0;
  background-color: $color_blue_sky;

  &-cta {
    margin-top: rem(40px);
  }
}

// POLLINATING
.front-page--pollinating{
  background-color: white;

  &-image{
    object-fit: cover;
  }
  & .columns__50-50 {
    justify-content: flex-start;
  }

  &-description {
    margin-top: rem(100px);
    margin-bottom: rem(100px);
    margin-left: rem(100px);
    max-width: 26.75rem;

    & h1{
      font-size: rem(40px);
      color: #333;
      font-weight: bold;
      font-family: "Century Gothic Bold", Helvetica, Arial, sans-serif;
    }

    & h3 {
      font-size: rem(26px);
      color: #8F607C;
    }
  }
}

// BANNER
.front-page--banner{
  padding: rem(140px) 0;
  background-color: $color_blue_sky;
  text-align: center;
}

// ABOUT US
.front-page--about-us{
  background-color: white;

  & .columns__50-50 {
    justify-content: flex-end;
  }

  &-description {
    margin-top: rem(100px);
    margin-bottom: rem(100px);
    margin-right: rem(100px);
    max-width: 26.75rem;
  }
  &-image{
    max-height: 808px;
    object-fit: cover;
  }
}

// OBJECTIVE
.front-page--objective {
	@include small-or-less {
		text-align: center;

		svg {
			max-width:     rem(145px);
			max-height:    rem(145px);

			margin-bottom: padding_vertical();
		}
	}

	@include medium-or-more {
		display:         flex;
		justify-content: space-between;
		align-items:     center;

		svg {
			flex-shrink:  0;
			flex-grow:    0;
			margin-right: rem(30px);
		}
	}
}
