/**************************************************
* FRONT PAGE
**************************************************/

@use "sass:math";

.main__front-page {
	.main--header--image {
		img {
			opacity: .6;
		}
	}

	.main--content section:not(:first-child) {
		margin-top: rem(80px);
	}
}

// Front page INFO

.front-page--info{
  padding: 140px 0;
  background-color: $color_blue_sky;
}

.front-page--title {
  font-size: 26px;
  margin-bottom: 3.75rem;
  text-align: center;

  &,
  h2 {
    font-weight: bold;
    font-family: "Century Gothic Bold", Helvetica, Arial, sans-serif;
    color: #333;
  }
}

.front-page--columns {
	text-align: center;

  &.columns-25{
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.front-page--card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icon-background {
  margin-bottom: 24px;

  &.green {
    background-color: #06A243;

    & svg {
      fill: #0ae372;
    }
  }
  &.blue {
    background-color: #92D4F2;

    & svg {
      fill: #dff2fb;
    }
  }
  &.yellow {
    background-color: #F3CC00;

    & svg {
      fill: #e79900;
    }
  }
  &.purple {
    background-color: #8F607C;

    & svg {
      fill: #dea3d3;
    }
  }

  &.green,
  &.blue,
  &.yellow,
  &.purple {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 150px;
    justify-content: center;
    width: 150px;
  }
}

.front-page--focus {
	padding:          rem(30px) padding_horizontal();

	text-align:       center;
	background-color: white;

	font-size:        rem(22px);
	line-height:      math.div(26, 22);

	@include medium-or-more {
		margin-left:  rem(160px);
		margin-right: rem(160px);
		padding:      rem(30px) rem(60px);
	}
}

.front-page--objective {
	@include small-or-less {
		text-align: center;

		svg {
			max-width:     rem(145px);
			max-height:    rem(145px);

			margin-bottom: padding_vertical();
		}
	}

	@include medium-or-more {
		display:         flex;
		justify-content: space-between;
		align-items:     center;

		svg {
			flex-shrink:  0;
			flex-grow:    0;
			margin-right: rem(30px);
		}
	}
}
